.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{float: left ;text-align: left ;direction: ltr }
.product-details .right{float: right !important;}
.product-details .left{float: left !important;}
.header .header-btns{margin-left: 20% !important;}
.header .dropdown-content{left: -182% !important;}
.menu .tab{float: left !important;border-right: 1px solid #000 !important;border-left:0px}
.menu .tab button{text-align: left !important;}
.menu .tabcontent{text-align: left !important;}
.product-details{text-align: left !important;direction: ltr !important}
.topmenu .dropdown::after{right: 0px;left:-10px}
.topmenu .to::after{left: -5%;}
.wrapper-dropdown-3::after{left: 80% !important;}
.about-us{text-align: left;direction: ltr !important;}
.brand-page {text-align: left !important;direction: ltr !important;}
.buyer p,
.buyer .title {text-align: left;direction: ltr !important;}
.factors .calculate .bg-success,
.factors .calculate .bg-info,
.factors .calculate .bg-warning,
.factors .calculate .bg-danger{text-align: center !important;}
.brad{text-align: left !important}
.factor-panel .col-lg-3,
.factor-panel .col-lg-9,
.profile .col-lg-3,
.profile .col-lg-9,
.table-panel .col-lg-3,
.table-panel .col-lg-9{padding: 0% 1% 0% 0%;}
.product-page .tab button{text-align: left !important}
.nav-side-menu .menu-list .menu-content{text-align: left}
.login .log,
.login .refresh .col-md-2,
.login .refresh .col-md-10 {float: inline-end !important;}
.login .refresh{margin-right: 9%}
.how-to-register .step .top{margin-left: 2.5%;}
.how-to-register .step .bottom{margin-left: 2.5%;}
.how-to-register .title{text-align: left !important}