.hr{margin-top: 1px;border-top:3px solid #354ea0;}
.hr-r{margin-top: 1px;border-top:3px solid #ff8022;}
.brad ul{padding: 0%;margin: 0%;}
.brad li{display:inline}
.brad .home::before{content:"";}
.brad .home{color: #354ea0}
.brad a{color: #354ea0;text-decoration: none}
.brad .last a{color:#ff8022 !important}
.brad li::before{content: "/";color: #ec5598;letter-spacing: .4px;font-size: 17px;
  vertical-align: top;margin-left:0px;padding-right: 5px;font-weight: 400 !important;
}
.hb{margin-top: 1px;border-top: 3px solid #354ea0;}
/*** start topmenu ***/
.topmenu{background: #ff8022}
.topmenu .ltr{direction: ltr}
/* dropdown */
.topmenu .dropdown::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left:-13px;
  top:50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent;
}
.wrap-select .hb::after {
  content: none
}
.topmenu .dropbtn {background-color: #ff8022;color: white;padding: 6px;border: none;}
.topmenu .dropdown {position: relative;display: inline-block;}
.topmenu .dropdown-content a {color:#fff;padding: 5px 10px;text-decoration: none;display: block;
  width: 100%;}
.topmenu .dropdown-content a:hover {color: #354ea0;}
.topmenu .dropdown:hover .dropdown-content {display: block;}
.topmenu .dropdown:hover .dropbtn {background-color: #ff8022;}
.topmenu .dropdown-content {display: none;position: absolute;background-color:#ff8022;min-width: 100px;z-index: 1;}
/* selectbox */
.topmenu .custom-select{background: transparent;border: 0px;height: 0%;}
.topmenu .custom-select {position: relative;}
.topmenu .custom-select select {display: none;}
.topmenu .select-selected {background-color: #ff8022;}
.topmenu .select-selected.select-arrow-active:after {border-color: transparent transparent #fff transparent;top: 7px;}
.topmenu .select-items {position: absolute;background-color:#ff8022;top: 260%;left: 0;right: 0;z-index: 99;}
.topmenu .select-hide {display: none;}
.topmenu .select-items div:hover{color:#354ea0 }
.topmenu .same-as-selected {color: #354ea0 !important}
.topmenu .select-items div{color: #ffffff;padding: 3px 10px;user-select: none;margin-top: -8%;cursor: pointer;font-size: 12px;}
.topmenu .select-selected {color: #ffffff;padding: 3px 0px;user-select: none;margin-top: -8%;cursor: pointer;font-size: 12px;width: 170%}
/* time */
.topmenu .time li{display: inline;font-size:16px;padding:2px 0px}
.topmenu .time ul{margin-bottom: 0%;padding-top: 3px;font-size: 14px;color: #fff;}

/*** end topmenu ***/
/*** start header ***/
.header .he{background: #404da0;
  border-color: #404da0;
  padding: 0% 30%;
  border-radius: 0px 0px 7px 7px;
  margin-bottom: 7%;
}
.header .he:hover{background: transparent;color: #293692}
.header .img img{width: 50%}
.header .text-center h4{color: #354ea0;font-weight: bold;font-size: 21px;}
.header .text-center h4 a{color: #ff8022;font-weight: bold}
.header .text-center h6{color:#919193 ;font-weight: bold}
.header .image img{width: 100%;margin-bottom:20px}
.header .dropbtn {background-color: transparent;color:#909092;padding:10px 10px;
  border: 1px solid #909092 !important;border-radius: 8px;font-size: 14px;border: none;
}
.header .dropdown {position: relative;display: inline-block;}
.header .dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
.header .dropdown:hover .dropdown-content {display: block;}
.header .dropdown:hover .dropbtn {background-color:#909092;color: #fff;transition: all .5s ease-in-out;}
.header .dropdown-content {display: none;position: absolute;background-color: #f1f1f1;
  min-width: 260px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index:5;left: 0;
}
.header .button img{width:35px}
.header .button .grey-1{background: transparent;color: #ff8022;border-color: #ff8022;border-radius: 8px;padding:0px 10px}
.header .button .grey-1:hover{background: #ff8022;color: #fff;transition: all .5s ease-in-out;}
.header .button .grey-2{background: transparent;color: #354ea0;
  border-radius: 8px;padding: 0px 10px;border-color: #354ea0;
}
.header .button .flaticon-robot{font-size:28px}
.header .flaticon-avatar{font-size:28px}
.header .button .grey-2:hover{background: #354ea0;color: #fff;transition: all .5s ease-in-out;}
.header .button .shop{padding: 0% 12.5% 0% 0%}
.header .button .login{padding:0% 8% 0% 0%}
.header .button{padding-top: 1%}
.header .button .row{width: 100%;margin: 0%;}
.header .button img{width: 100%}
.header .button .col-md-3,
.header .button .col-md-3 a{padding: 0%}
.header .button .title p{margin: 0%;}
.header .button .close{padding-top: 30%}
.header .button .close img{width: 50%}
.header .button .you{border-bottom: 1px solid #000}
.header .button .factor{padding-top:5%}
.header .button .factor .btn-info{background:#ff8022;border-color:#ff8022;margin: auto;margin-bottom: 4%;margin-top: 4%;}
.header .button .factor .btn-info:hover{background: transparent;color: #ff8022;border-color:#ff8022;transition: all .5s ease-in-out;}
.header .modal-body {max-height: 75vh;padding:0;}
.header .modal-dialog {max-width: 100%;margin: 0.1rem auto;}
.header .modal iframe {height:75vh;}
.header #exampleModalLong{position: absolute;z-index: 11111111;}
.header .modal{width:50%;margin: auto;top:25%}
.header .modal-body img{width:95%;border-radius: 10px 10px 0px 0px;}
.header .modal-body .row{width: 100%;margin: auto;text-align: center}
.header .modal-body .col-lg-4 .img{margin: 1%;background: #ff8022;border-radius: 10px;color: #fff}
.header .modal-footer .btn-primary {color: #fff;background-color: #404da0;border-color: #404da0;}
.header .modal-footer .btn-primary:hover{background:transparent;color: #404da0;transition: all .5s ease-in-out;}
.menu .navbar .dropdown-menu div[class*="col"] {margin-bottom:1rem;}
.menu .navbar .dropdown-menu {border:none;background-color:#0060c8!important;}
.menu .tab {float: right;width:20%;border-left: 1px solid #000;}
.menu .mr-auto, .mx-auto {margin: auto !important;}
.menu .nav-link{color:#293692 !important;font-size: 0.7vw}
.menu .nav-item a:hover{color: #ff8022 !important}
.menu .navbar{background: #dcdce0 !important;z-index: 11111;}
.menu .dropdown-toggle{padding: 0% !important}
.menu .tab button {display: block;background-color: inherit;color:#293692;padding: 10px 16px;
  width: 100%;border: none;outline: none;text-align: right;cursor: pointer;font-size: 17px;
}
.menu .dropdown-toggle::after {content:none}
.menu .tab button:hover {color: #ff8022}
.menu .dropdown{padding: 0% !important}
.menu .tabcontent .col-lg-4 img{width: 100%;bottom: 0;}
.menu .tabcontent a{text-decoration: none;color: #293692}
.menu .tabcontent a:hover{text-decoration: none;color: #ff8022}
.menu .tabcontent .col-lg-4 li{display: block}
.menu .tabcontent {float: left;padding: 0px 12px;width: 80%;border-left: none;display: none;}
.menu .clearfix::after {content: "";clear: both;display: table;}
@media screen and (min-width: 992px) {
  .menu .navbar {
    padding-top:0px;
    padding-bottom:0px;
  }
  .menu .navbar .nav-item {
    padding:.5rem .5rem;
    margin:0 .25rem;
  }
  .menu .navbar .dropdown {position:static;}
  .menu .navbar .dropdown-menu {
    width:80%;
    left: 0;
    right: 0;
    top: 85%;
    margin: auto;
    background-color: #dcdce0 !important;
    border-radius: 0px 0px 10px 10px;
    border: 0px !important;
    z-index: 111111;
  }
  .menu .navbar .dropdown:hover .dropdown-menu,
  .menu .navbar .dropdown .dropdown-menu:hover {
    display:block!important;
  }
  .menu .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }
}
.menu .openBtn {
  background:#dcdce0;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  color: #293692
}
.menu .openBtn:hover {
  color: #ff8022;
}
.menu .overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index:1111;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}
.menu .overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}
.menu .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}
.menu .overlay .closebtn:hover {
  color: #ccc;
}
.menu .overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: right;
  width: 80%;
  background: white;
}
.menu .overlay input[type=text]:hover {
  background: #f1f1f1;
}
.menu .overlay button {
  float: right;
  width: 20%;
  padding: 15px;
  background: #293692;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.menu .overlay button .flaticon{color: #fff}
.menu .overlay button:hover {
  background: #ff8022;
  transition: all .5s ease-in-out
}
/*** end menu ***/
/*** start slider ***/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.slider .hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.slider .darken-grey-text {
    color: #2E2E2E;
}

/*** end slider ***/
/*** start service ***/

.service{background: #f3f3f3;padding: 3% 0%}
.service .flaticon{font-size: 45px;color:#ff8022}
.service h5{color:#293692;}
.service p{color:#919191;text-align: right;direction: rtl;padding:3% 10%}

.navbar-brand span{
  color:#404d9f;font-size:16px
}
.flaticon-list{font-size:30px !important}
.navbar{padding:0px}
.w100{width:100%}

/*** end service ***/
/*** start baner ***/

.baner img,
.baner-2 img{width: 100%}
.baner .row,
.baner-2 .row{width: 100%;margin: auto}
.baner .col-lg-6{padding: 0%;}
.baner .right{padding-left: 2px}
.baner .left{padding-right: 2px}

/*** end baner ***/
/*** start img ***/

.img{padding: 2% 0% 0%;}
.img .row{width: 100%;margin: auto}

/*** end img ***/
/*** start brand ***/

.brand{background: #ececee;padding: 2% 0%}
.brand img{width: 100%}

/*** end brand ***/
/** start product **/

.product{background:#ececee;padding: 2% 0%}
.product .blog .carousel-indicators .active {background: #ff8022;}
.product .blog .carousel-indicators {left: 0;top: -20%;bottom: -40px;position: relative;}
.product .blog .carousel-indicators li {background: #293692;border-radius: 0%;
  width: 15px;height: 15px;margin-left: -71%;margin-right: 67%;margin-top:-13%
}
.show{z-index:9999}
.brands-list img{width:100%}
/** end product **/
/** start parallax **/

.parallax img{width: 100%}
.parallax .center{padding:8% 0% 0% 0%}
.parallax .left{padding:1% 0% 0% 0%}
.parallax .right{padding:1% 0% 0% 0%}
.parallax .right .bottom{background:rgba(255, 255, 255,0.8);border-radius:10px;padding:10% 2% 2% 2%;color: #ff8022}
.parallax .left .top{background:rgba(255, 255, 255,0.8);border-radius:10px;padding:10% 2% 2% 2%;color: #293692}
.parallax .left .bottom{background:rgba(255, 255, 255,0.8);border-radius:10px;padding:10% 0%;color: #ff8022}
.parallax .right .top{background:rgba(255, 255, 255,0.8);border-radius:10px;padding:10% 0%;color: #293692}
.parallax {background-image: url("../images/Layer\ 37.png");height:500px;background-size: cover;
  background-attachment: fixed;background-position: center;background-repeat: no-repeat;padding:5.5% 0% 5.5% 0%;
}

/** end parallax **/
/** start extra **/

.extra{background:#354ea0;padding: 1%;color: #fff}
.extra h4{margin: 0% !important}

/** end extra **/
/** start social **/

.social{background: #dcdcdc}
.social li{display: inline;padding:2% 1.5% 0.75%;}
.social .flaticon:hover{color: #293692;transition: all .5s ease-in-out;}
.social ul{margin-bottom: 0%;width: 100%;padding:1.5% 0%}
.social .flaticon{font-size: 55px}
.social a{color: #ff8022;text-decoration: none}
.social{border-bottom: 5px solid #ff8022}

/** end social **/
/** start footer **/

.footer{background: #0e1d51}
.footer .image{padding-top: 3%}
.footer .image img{width: 97%;margin: auto}
.footer .namad .col-lg-4{padding: 0% 1.5%}
.footer .namad .sabt{background: #fff;border-radius: 10px}
.footer .namad .melli{background: #fff;border-radius: 10px}
.footer .namad .tosee{background: #fff;border-radius: 10px}
.footer .namad .sabt img{width: 65%;}
.footer .namad .melli img{width: 100%;}
.footer .namad .tosee img{width: 49%;}
.footer .eftekhar img{width: 100%}
.footer .eftekhar .col-lg-3{padding: 0%;}
.footer p{color: #fff;font-size: 12px;margin: auto;}
.footer .bottomfooter{width: 100%;margin: auto;padding: 1% 0%;background: #010b38}
.footer .ul-l a{color:#fff;text-decoration:none;}
.footer .ul-l a:hover{color:#ff8022;transition: all .5s ease-in-out;}
.footer .left{padding-right:7%}

/** end footer **/

/*** start brand-page ***/

.brand-page{padding-top:10px;margin-bottom:10px}
.brand-page .br img{width: 70%;height: 100%;}
.brand-page .col-lg-3,
.brand-page .col-lg-9{padding:1% 0.25%}
.brand-page .br{background: #eeeeef;border-bottom: 3px solid #ff8022;text-align: center;height: 83px;}
.brand-page .shr{background:#dcdce0;height: 100%;border-bottom: 3px solid #293692;padding-top: 3%;color: #354ea0}
.brand-page .shr .flaticon{font-size: 30px;color: #ff8022}
.brand-page .img img{width: 100%}
.brand-page .img{padding: 1% 0% 0% 0%}
/*tab*/
.brand-page .container{direction: rtl;}
.brand-page .navtop{margin-top:50px;width: 100%}
.brand-page .tab-content {padding:2% 1%;margin-top:0px;width: 100%}
.brand-page .nav-fill .active{color: #ff8022 !important;border-radius: 0px;background: transparent !important;border-bottom: 3px solid;}
.brand-page .nav-fill .nav-link{color: #354ea0;border-bottom: 3px solid;border-radius: 0px}
/*message*/
.brand-page .hos{padding: 0% 20%}
.brand-page .contact-form{ margin-top:15px;width: 910px}
.brand-page .contact-form .textarea{ min-height:100px; resize:none;}
.brand-page .form-control{ box-shadow:none; border-color:#eee; height:49px;}
.brand-page .form-control:focus{ box-shadow:none; border-color:#ff8022;}
.brand-page .form-control-feedback{ line-height:50px;}
.brand-page .main-btn{ background:transparent; border-color:#ff8022; color:#ff8022;border-radius:8px }
.brand-page .main-btn:hover{ background:#ff8022;color:#fff;transition: all .5s ease-in-out;}
.brand-page .form-control-feedback {line-height: 50px;top: 0px;}
.brand-page .title{border-bottom: 3px solid #ff8022;color: #ff8022}
.brand-page .information .icon{border: 1px solid #354ea0;margin:0.5%;border-radius: 5px;}
.brand-page .information .icon-n{border: 1px solid #354ea0;margin:0.5%;border-radius: 5px}
.brand-page .information .flaticon{font-size: 25px;color: #ff8022;}
.brand-page .information .icon .col-lg-2{border-left: 1px solid #354ea0}
.brand-page .information .icon-n .col-lg-1{border-left: 1px solid #354ea0}
.brand-page .information .icon .col-lg-10{padding: 3% 0% 0% 0%;color: #293692}
.brand-page .information .icon-n .col-lg-11{padding: 1.5% 0% 0% 0%;color:#293692}
.brand-page .information .infor{padding: 0% 2%;}
.brand-page .product .title{border-bottom: 3px solid #354ea0;color: #354ea0}
.brand-page .product{background:#eeeeef;padding: 0;margin-top:-1%;}
.brand-page .product .pr{position: relative;background: #fff;border-radius:5px }
.brand-page .product .image {display: block;width: 100%;height: auto;border-radius:5px;}
.brand-page .product .pr:hover .overlay {height: 100%;}
.brand-page .product .pro{padding: 2% 3% !important;}
.brand-page .product .pr h6{color:#ff8022}
.brand-page .product .pr p{color:#354ea0;margin: 0%;}
.brand-page .product .btn-info .flaticon{color:#354ea0}
.brand-page .product .grey-1{background: #fff;color: #ff8022;border: 0px;width:100%}
.brand-page .product .grey-1:hover{background:#ff8022;color: #fff;transition: all .5s ease-in-out;}
.brand-page .product .grey-3{background: #fff;color: #ff8022;border: 0px;width: 100%;margin-top:3%}
.brand-page .product .grey-3:hover{background:#ff8022;color: #fff;transition: all .5s ease-in-out;}
.brand-page .product .grey-2{background: #fff;color: #354ea0;border: 0px;width: 100%;margin-top:3%;border-radius:5px}
.brand-page .product .grey-2:hover{background:#354ea0;color: #fff;transition: all .5s ease-in-out;}
.brand-page .product .overlay {position: absolute;bottom: 0;background-color:rgba(41, 54, 146, 0.7);
  overflow: hidden;width: 100%;height: 0;transition: .5s ease;left: 0;right: 0;border-radius: 5px;
}
.brand-page .product .text {color: white;font-size: 20px;position: absolute;-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);text-align: center;left: 50%;top: 50%;
}
.bg-brand {
  background: #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
/*** end brand-page ***/
/*** start product-page ***/
.product-page .row{width:100%;margin:0%;}
.product-page .hr{margin:5px 0;}
.product-page .col-sm-12{padding:0%;}
.product-page .accordion-group{margin-bottom:10px;border-radius:0;}
.product-page .accordion-toggle{background: rgb(255, 128, 34);text-align: center;color: #fff;}
.product-page .accordion-toggle:hover{text-decoration: none;}
.product-page .accordion-heading .accordion-toggle {display: block;padding: 8px 15px;}
.product-page .selectStyle{width:46%; float: left; margin-right: 8%;}
.product-page .tab {float: left;border: 1px solid #ccc;background-color:#293692;width:25%;height:auto;}
.product-page .clearfix::after {content: "";clear: both;display: table;}
.product-page .tab button:hover {background-color: #fff;color: #293692;}
.product-page .tab button.active {background-color: #fff;color: #293692;}
.tabcontent .col-lg-4{padding: 0% 2%}
.product-page .tab button {display: block;background-color: inherit;outline: none;text-align:right;
  color:white;padding:10px 15px;width: 100%;border: none;cursor: pointer;font-size: 17px;
}
.product-page .tabcontent {float: left;padding: 0px 12px; display: none;
  border: 1px solid #ccc;width:75%;border-left: none; height:auto;
}

/*** end product-page ***/

/*** start category ***/

.category img{width:100%}
.category .img-g{border:1px solid #000;padding:1px;border-radius:10px 10px 0px 0px;}
.category .text-center{background: #404da0;color:#fff;padding:3% 0% 4%;border-radius:0px 0px 10px 10px}
.category .text-center p{margin:0%;}
.category .col-lg-3{margin:1% 0%;border-radius:10px}
.category a{text-decoration:none}
.category .text-center:hover{background:#ff8022;transition:all .5s ease-in-out;}

/*** end category ***/
/*** start shop ***/
.shop .title-filter p{padding:7px}
.checkbox{padding:0px;margin-top:5px}
.checkbox input{float:left}
.shop-s{background: #f6f5f5}
.shop .title-filter{background: #ff8022;color:#fff}
.shop .tabs {margin: 0 auto;padding: 0px;}
.shop #tab-button {display: table;table-layout: fixed;width: 100%;margin: 0;padding: 0;list-style: none;}
.shop #tab-button li {display: table-cell;width: 20%;padding: 0% 0.75%;}
.shop #tab-button li a {display: block;padding:0.45em;background: #dcdce0;
  text-align: center;color: #404da0;text-decoration: none;}
.shop #tab-button li:not(:first-child) a {border-left: none;}
.shop #tab-button li a:hover,
.shop #tab-button .is-active a {border-bottom-color: transparent;background: #404da0;transition:all .5s ease-in-out;color: #fff}
.shop .tab-contents {padding: .5em 2em 1em;}
.shop .tab-button-outer {display: none;}
.shop .tab-contents {margin-top: 20px;}
@media screen and (min-width: 768px) {
  .shop .tab-button-outer {position: relative;z-index: 2;display: block;}
  .shop .tab-select-outer {display: none;}
  .shop .tab-contents {position: relative;top: -1px;margin-top: 0;}
} 
.shop .collapse{z-index: 0 !important;}
.shop .brand-page .product{padding: 0%;background: transparent}
.shop .brand-page .product .grey-1{font-size: 10px}
.shop .brand-page .product .grey-2{font-size: 10px}
.shop .brand-page .product .grey-3{font-size: 10px}
.shop .tab-contents{padding: 1%}
.shop .brand-page .product .pro{padding:0.5% 0% !important;}
.shop .lg{padding: 0%}
.shop #accordion{padding: 2%;border: 1px solid #ff8022}
.shop #accordion .card a{text-decoration: none;color: #ff8022}
.shop #accordion #collapseOne a{color: #404da0}
.shop #accordion #collapseOne a:hover{color: #ff8022;transition: all .5s ease-in-out}
.shop #accordion #collapseOne li{display: block;margin-top: 5%}
.card-header{border: 0px !important;background: #eaeaec}
.card{border:0px !important;margin-top: 4px}
.card-header form{margin-top: 10%;}
/* .shop #accordion #collapseOne ul{padding: 0% 30% 0% 0%} */
/*** end shop ***/

/*** start product-details ***/
.product-details .show{width:100%;}
.product-details #show-img { width: 400px; height: 400px; }
.product-details .small-img{width: 100%;height: 70px;margin-top: 10px;position: relative;left: 0px;}
.product-details .small-img .icon-left, .product-details .small-img .icon-right{
  width: 12px;height: 24px;cursor: pointer;position: absolute;top: 0;bottom: 0;margin: auto 0;
}
.product-details .small-img .icon-left{transform: rotate(180deg);left: 0;}
.product-details .small-img .icon-right{right: 0;}
.product-details .small-img .icon-left:hover,
.product-details .small-img .icon-right:hover{opacity: .5;}
.product-details .small-container{width: 310px;overflow: hidden;
  position: absolute;left: 0;right: 0;margin: 0 auto;height: 70px;
}
.product-details .small-container div{width: 800%;position: relative;}
.product-details .small-container .show-small-img{width: 70px;height: 70px;margin-right: 6px;cursor: pointer;}
.product-details .small-container .show-small-img:last-of-type{margin-right: 0;}
.product-details .pr-h{border-radius:5px;}
/*table*/
.product-details .table{background-color:#fff;margin-top:3%;border: 0px !important}
.product-details .bottom{background: #eee}
.product-details .col-lg-6{padding:5px 3px;}
.well{padding: 1% 5%;border-radius:5px;height: 444px;}
.oranga{color:#ff8022;border-top: 0px !important;border-right: 0px !important;}
.dark-blue{color:#404da0;border-top: 0px !important;border-left: 0px !important;}
.product-details .bottom thead th{border: 0px !important;border-bottom: 1px solid #dee2e6 !important;}
.product-details .bottom .dark-blue{border-top: 1px solid #dee2e6 !important}
.product-details .bottom .title{color:#ff8022;padding: 1% 3%}
.product-details .button .col-lg-4,
.product-details .button .col-lg-8{padding:0px 2px}
.product-details .button .green{width: 100%;background: #3b7101;border-color: #3b7101;border-radius:0px;}
.product-details .button .green:hover{background: transparent;transition: all .5s ease-in-out;color:#3b7101}
.product-details .button .dark-blue{width: 100%;background: #404da0;border-color: #404da0;border-radius:0px;color:#fff;}
.product-details .button .dark-blue:hover{background: transparent;color:#404da0;
  transition: all .5s ease-in-out;border: 1px solid #404da0 !important;
}
.product-details .title-e{width: 100%;margin: 0%;background: #ececee}
.product-details .title{border-bottom:4px solid #ff8022;color:#ff8022;padding: 0%}
/*** end product-details ***/
/*** start control-panel ***/

/*** nav-side-menu ***/
.control-panel .row{width: 100%;margin: 0%}
.nav-side-menu .brand img {width: 40%;border-radius: 50%;}
.nav-side-menu .brand span{font-size: 13px;line-height: 30px;color: #ff8022;}
.nav-side-menu .brand {background-color: #eeeeee;line-height: 2;display: block;text-align: center;font-size: 14px;}
.nav-side-menu .nav-side-menu .toggle-btn {display: none;}
.nav-side-menu ul,
.nav-side-menu li {list-style: none;padding: 0px;margin: 0px;line-height: 35px;cursor: pointer;}
.nav-side-menu ul .active,
.nav-side-menu li .active {border-right: 4px solid #ff8022;}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {color: #d19b3d;}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {color: #d19b3d;}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {background-color: #020203;}
.nav-side-menu li {padding-left: 0px;
  border-right:4px solid #ff8022;
  border-bottom: 1px solid #ff8022;}
.nav-side-menu li a {text-decoration: none;color: #404d9f;}
.sub-menu li a{color: #eeeeee;margin-right: 13%}
.nav-side-menu li a i {padding-left: 10px;width: 20px;padding-right: 20px;}
.nav-side-menu li:hover {background-color:#fff;-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;-o-transition: all 1s ease;-ms-transition: all 1s ease;transition: all 1s ease;
}
.nav-side-menu {overflow: auto;font-size: 12px;background-color:#eeeeee;
  top: 0px;width:100%;height: 100%;color: #293692;font-weight: 200;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {background-color: #404d9f;border: none;
  line-height: 28px;border-bottom: 1px solid #23282e;margin-left: 0px;
}
@media (max-width: 767px) {
  .nav-side-menu {position: relative;width: 100%;margin-bottom: 10px}
  .nav-side-menu .toggle-btn {display: block;cursor: pointer;position: absolute; z-index: 10 !important;top: 10px;
    padding: 3px;background-color: #ffffff;color: #000;width: 40px;text-align: center;right: 10px;
  }
  .nav-side-menu.brand {text-align: left !important;font-size: 22px;
    padding-left: 20px;line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {display: block;}
}
/*** nav-side-menu ***/
/*dashbord*/
.control-panel .col-lg-3,
.control-panel .col-lg-9{padding: 0%;}
.well-l{background: #eee}
.main-timeline2{padding-top:50px;overflow:hidden;position:relative}
.main-timeline2:before{content:"";width:7px;height:100%;background:#084772;margin:0 auto;position:absolute;top:80px;left:0;right:0}
.main-timeline2 .timeline{width:50%;float:left;padding:20px 60px;border-top:7px solid #084772;border-right:7px solid #084772;border-radius:0 30px 0 0;position:relative;right:-3.5px}
.main-timeline2 .icon{display:block;width:50px;height:50px;line-height:50px;border-radius:50%;background:#293692;border:1px solid #fff;text-align:center;font-size:25px;color:#fff;box-shadow:0 0 0 2px #293692;position:absolute;top:-30px;left:0}
.main-timeline2 .timeline-content{display:block;padding:30px 10px 10px;border-radius:20px;background:#293692;color:#fff;position:relative}
.main-timeline2 .timeline-content:hover{text-decoration:none;color:#fff}
.main-timeline2 .timeline-content:after,
.main-timeline2 .timeline-content:before{content:"";display:block;width:10px;height:50px;border-radius:10px;background:#293692;border:1px solid #fff;position:absolute;top:-35px;left:50px}
.main-timeline2 .timeline-content:after{left:auto;right:50px}
.main-timeline2 .title{font-size:24px;margin:0;text-align: center;}
.main-timeline2 .description{font-size:15px;letter-spacing:1px;margin:0 0 5px}
.main-timeline2 .timeline:nth-child(2n){border-right:none;border-left:7px solid #084772;border-radius:30px 0 0;right:auto;left:-3.5px}
.main-timeline2 .timeline:nth-child(2n) .icon{left:auto;right:0;box-shadow:0 0 0 2px #ff8022}
.main-timeline2 .timeline:nth-child(2){margin-top:130px}
.main-timeline2 .timeline:nth-child(odd){margin:-130px 0 30px}
.main-timeline2 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline2 .timeline:first-child,
.main-timeline2 .timeline:last-child:nth-child(even){margin:0 0 30px}
.main-timeline2 .timeline:nth-child(2n) .icon,
.main-timeline2 .timeline:nth-child(2n) .timeline-content,
.main-timeline2 .timeline:nth-child(2n) .timeline-content:after,
.main-timeline2 .timeline:nth-child(2n) .timeline-content:before{background:#ff8022}
.main-timeline2 .timeline:nth-child(3n) .icon,
.main-timeline2 .timeline:nth-child(3n) .timeline-content,
.main-timeline2 .timeline:nth-child(3n) .timeline-content:after,
.main-timeline2 .timeline:nth-child(3n) .timeline-content:before{background:#293692}
.main-timeline2 .timeline:nth-child(3n) .icon{box-shadow:0 0 0 2px #293692}
.main-timeline2 .timeline:nth-child(4n) .icon,
.main-timeline2 .timeline:nth-child(4n) .timeline-content,
.main-timeline2 .timeline:nth-child(4n) .timeline-content:after,
.main-timeline2 .timeline:nth-child(4n) .timeline-content:before{background:#ff8022}
.main-timeline2 .timeline:nth-child(4n) .icon{box-shadow:0 0 0 2px #ff8022}
@media only screen and (max-width:767px){.main-timeline2:before{left:0;right:auto}
.main-timeline2 .timeline,.main-timeline2 .timeline:nth-child(even),
.main-timeline2 .timeline:nth-child(odd){width:100%;float:none;padding:20px 30px;margin:0 0 30px;
  border-right:none;border-left:7px solid #084772;border-radius:30px 0 0;right:auto;left:0
}
.main-timeline2 .icon{left:auto;right:0}
}
@media only screen and (max-width:480px){.main-timeline2 .title{font-size:18px}
}
.table-panel .col-lg-3,
.table-panel .col-lg-9{padding: 0%;}
.table-panel .row{width: 100%;margin: 0%;}
/*** end control-panel ***/
/*jafari*/
.container{width:80% !important}
.container{max-width:80% !important}
.price{background:#ff8022;border:none;margin:1%;color:#fff}
.lang{margin-right:50%}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
.header-btns li{display:inline;float:left;margin-right:2%}
.pr-h{z-index:99999}
.well table, .well button{z-index: -1 !important;}

/*** login ***/

.login{width: 100%;margin: 0%;/*background-image: url(../images/animated-abstract-login.png)*/}
.login .navtop{margin-top:50px;}
.login .tab-content {padding: 40px;margin-top: -20px;}
.login .nav-fill .active{color: #ff8022 !important;border-radius: 0px;background: transparent !important;border-bottom: 3px solid;}
.login .nav-fill .nav-link{color: #354ea0;border-bottom: 3px solid;border-radius: 0px}
.login .first img{width: 50%}
.login .wrapper {display: flex;align-items: center;flex-direction: column;
  justify-content: center;width: 100%;min-height: 100%;padding: 20px;
}
.login #formContent { -webkit-border-radius: 10px 10px 10px 10px;text-align: center;padding: 0px;
  border-radius: 10px 10px 10px 10px;background: #fff;padding: 30px;width: 90%;max-width: 450px;position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
.login #formFooter {background-color: #f6f6f6;border-top: 1px solid #dce8f1;
  padding: 25px;text-align: center;-webkit-border-radius: 0 0 10px 10px;border-radius: 0 0 10px 10px;
}
/* TABS */
.login h2.inactive {
  color: #cccccc;
}
.login h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}
/* FORM TYPOGRAPHY*/
.login input[type=button],
.login input[type=submit],
.login input[type=reset]{background-color: #2a3990;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
  border: none;color: white;padding: 15px 80px;text-align: center;text-decoration: none;display: inline-block;
  text-transform: uppercase;font-size: 13px;width: 86.25%;-webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.login input[type=button]:hover,
.login input[type=submit]:hover,
.login input[type=reset]:hover{background-color: #fb6a21;}
.login input[type=button]:active,
.login input[type=submit]:active,
.login input[type=reset]:active{-moz-transform: scale(0.95);-webkit-transform: scale(0.95);
  -o-transform: scale(0.95);-ms-transform: scale(0.95);transform: scale(0.95);
}
.login input[type=text] {background-color: #f6f6f6;border: none;color: #0d0d0d;padding: 10px 30px;text-align: right;
  display: inline-block;font-size: 16px;margin: 5px;width: 85%;border: 2px solid #f6f6f6;-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;text-decoration: none;
}
.login input[type=text]:focus {background-color: #fff;border-bottom:2px solid #fb6a21;}
.login input[type=text]:placeholder {color: #cccccc;}
/* ANIMATIONS */
/* Simple CSS3 Fade-in-down Animation */
.login .fadeInDown {-webkit-animation-name: fadeInDown;animation-name: fadeInDown;animation-fill-mode: both;
  -webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.login .fadeIn {opacity:0;-webkit-animation:fadeIn ease-in 1;-moz-animation:fadeIn ease-in 1;animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;animation-fill-mode:forwards;
  -webkit-animation-duration:1s;-moz-animation-duration:1s;animation-duration:1s;
}
.login .fadeIn.first {-webkit-animation-delay: 0.4s;-moz-animation-delay: 0.4s;animation-delay: 0.4s;}
.login .fadeIn.second {-webkit-animation-delay: 0.6s;-moz-animation-delay: 0.6s;animation-delay: 0.6s;}
.login .fadeIn.third {-webkit-animation-delay: 0.8s;-moz-animation-delay: 0.8s;animation-delay: 0.8s;}
.login .fadeIn.fourth {-webkit-animation-delay: 1s;-moz-animation-delay: 1s;animation-delay: 1s;}
/* Simple CSS3 Fade-in Animation */
.login .underlineHover:after {display: block;left: 0;bottom: -10px;width: 0;
  height: 2px;background-color: #56baed;content: "";transition: width 0.2s;
}
.login .underlineHover:hover {color: #0d0d0d;}
.login .underlineHover:hover:after{width: 100%;}
.login .log,
.login .refresh .col-md-2,
.login .refresh .col-md-10{padding: 0%}
.login .refresh img{width: 50%;
  margin-top: 20%;}
.login #formFooter p{margin: 0%;font-size: 0.9vw;}

/*** login ***/
/** start checkout **/

.factors .row{width: 100%;margin: 0%}
.factors tbody img{width: 100%}
.factors .table td,
.factors .table th{width: 10%;padding:1% 0% 1% 0%;border: 1px solid #eee;border-top:0px;text-align: center }
.factors .width{width:5% !important}
.factors .form{background: #ececee}
.factors .bottombox .btn-default{background: #ff8022;border:1px solid #ff8022;color:#fff}
.factors .bottombox .btn-default:hover{background:transparent;transition: all .5s ease-in-out;color: #ff8022}
.factors .calculate .bg-warning {background-color: #293692 !important;color: #fff;text-align: center;padding: 5px 0px 0px 0px;}
.factors .calculate .bg-danger {background-color: #fe6a00 !important;color: #fff;text-align: center;padding: 5px 0px 0px 0px;}
.factors .calculate .bg-info {background-color: #fff !important;padding: 10px 0px 0px 0px;}
.factors .calculate .bg-success {background-color: #ececee !important;padding: 10px 0px 0px 0px;}
.factors .factorsbox .grey-1{width: 100%;font-size: 10px;padding: 8px;background: #ff8022;border-color: #ff8022;margin-top: 1%;}
.factors .factorsbox .grey-2{width: 82%;font-size: 8px;padding:10px 10px 9px 15px;background: #293692;border-color: #293692;}
.factors .color{width: 5% !important}
.factors .work{width: 12% !important}
.factors .work ul{padding: 0%}
.factors .work li{display: inline;width: 50%;float: right}

/** end checkout **/

/*factor-panel*/

.factor-panel .col-lg-3,
.factor-panel .col-lg-9{padding:0% 0% 0% 1%;}
.factor-panel .row{width: 100%;margin: 0%}
.factor-panel ul{padding: 1% 0% 0% 0%}
.factor-panel .left,
.factor-panel .right{background: #fff;padding: 3%;height: 200px;}
.factor-panel .form-control{padding: 0%;font-size: 10px}
.factor-panel .fff .grey-1{margin: auto;width: 100%;margin-bottom: 2%;background: #293692;border-color: #293692;}
.factor-panel .fff .grey-1:hover{background: transparent;color: #293692}
.factor-panel .fff .grey-2{margin: auto;width: 100%;margin-bottom: 2%;background: #fe6a00;border-color: #fe6a00;}
.factor-panel .fff .grey-2:hover{background:transparent;color:#ff8022}
.factor-panel .col-lg-6 li{display: block}
.factor-panel .light-row{background:#F1F3F0;}
.factor-panel .fff{margin: 5% 0%}
.factor-panel .table-bordered {border: 0px !important;}


/*factor-panel*/
/*** table-panel ***/

.table-panel .col-lg-3,
.table-panel .col-lg-9{padding:0% 0% 0% 1%;}
.table-panel .row{width: 100%;margin: 0%}
.table-panel .light-row{
  background:#F1F3F0;
}
.table-panel .table-responsive .color{
  background: #293692;
color: #fff;
font-size: 9px
}
.table-panel .table-responsive span{background: #293692;
  color: #fff;
  padding: 1% 5%;
  border-radius: 5px;
font-size: 9px}
.table-panel .grey-1{background: #ff8022;color: #fff;padding: 0.5% 10%;border-color:#ff8022 }
.table-panel .grey-1:hover{background: transparent;color: #ff8022;transition: all .5s ease-in-out;}
/*** table-panel ***/

/*edit-information*/

.profile .col-lg-3,
.profile .col-lg-9{padding:0% 0% 0% 1%;}
.profile .row{width: 100%;margin: 0%}
.profile .edit-form .margin{margin-top: 1%}
.profile .grey-1{background: #ff8022;color: #fff;border-color: #ff8022;border-radius: 8px;padding: 5px 10px;margin-top: 1%;float: left;margin-bottom: 1%;}
.profile .grey-1:hover{background:transparent ;color: #ff8022;transition: all .5s ease-in-out;}

/*edit-information*/
.wrapper-dropdown-3 {position: relative;margin: 0 auto;padding:3px;width: 200px;color: #fff;margin: 0% 50%;
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);cursor: pointer;outline: none;background:#ff8022;
}
.wrapper-dropdown-3 span{color: #fff}
.wrap-select img{width:7%;border-radius: 50%}
.wrapper-dropdown-3:after {content: "";width: 0;height: 0;position: absolute;left: 15px;top: 50%;
  margin-top: -3px;border-width: 6px 6px 0 6px;border-style: solid;border-color:#fff transparent;
}
.wrapper-dropdown-3 .dropdown {position: absolute;top: 100%;
  left: 0;right: 0;padding:0;margin:0;background:#ff8022;border: 1px solid rgba(0,0,0,0.17);font-weight: normal;
  -webkit-transition: all 0.5s ease-in;-moz-transition: all 0.5s ease-in;-ms-transition: all 0.5s ease-in;z-index: 1;
  -o-transition: all 0.5s ease-in;transition: all 0.5s ease-in;list-style: none;opacity: 0;pointer-events: none;
}
.wrapper-dropdown-3 .dropdown li a {display: block;padding: 10px;color: #000;
  box-shadow: inset 0 1px 0 rgba(255,255,255,1);-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;text-decoration: none;
}
.wrapper-dropdown-3 .dropdown li i {float: right;color: inherit;}
.wrapper-dropdown-3 .dropdown li:last-of-type a {border: none;border-radius: 0 0 7px 7px;}
.wrapper-dropdown-3 .dropdown li:hover a {background: #f3f8f8;}
.wrapper-dropdown-3.active .dropdown {opacity: 1;pointer-events: auto;}
.no-opacity .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {display: none;opacity: 1;pointer-events: auto;}
.no-opacity .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {display: block;}

/*** start how-to-register ***/

.how-to-register .title{width: 100%;color:#354ea0}
.how-to-register .title p{color: #000}
.how-to-register .row{width: 100%;margin: 0%}
.how-to-register .icon .col-lg-4{padding:4% 2%}
.how-to-register .icon img{width: 25%}
.how-to-register .step img{width:100%}
.how-to-register .step .ho{margin-top:50% }
.how-to-register .step .col-md{padding:3px}
.how-to-register .step .text-tt .col-md{padding:0% 1%}
.how-to-register .button{width: 100%}
.how-to-register .button .grey-1{background: #ff8022;
  color: #fff;
  border-color: #ff8022;
  border-radius: 8px;
  padding: 10px 10px;}
.how-to-register .button .grey-1:hover{background:transparent;color: #ff8022;transition: all .5s ease-in-out;}
/*** end how-to-register ***/

/*** star buyer ***/

.buyer .row{width:100%;margin:0%;}
.buyer .title{width:100%;color:#354ea0}
.buyer .title p{color:#000}
.buyer .icon img{width:30%}
.buyer p{text-align: right}

/*** end buyer ***/
/*** start about-us ***/

.about-us .row{width: 100%;margin: 0%;}
.about-us .about{width: 100%}

/*** end about-us ***/
/**/
/*--thank you pop starts here--*/
.modal-l .thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.modal-l .thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}
.modal-l .thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.modal-l .thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.modal-l .thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.modal-l .thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.modal-l .thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.modal-l .thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
.modal-l #ignismyModal .modal-header{
    border:0px;
}
/*--thank you pop ends here--*/

/*contact*/
.contact-info .fa {padding-right: 5px;}
.contact-us button#submit:hover {background: transparent;color: #000;border-color: #ff8022;}
.contact-us .form-control:focus {border-bottom-color:#293692;}
.contact-us input {height: 55px;}
.contact-us .form-control {border: none;font-size: 18px;
  border-bottom: 2px solid #f0f0f0;border-radius: 0px;box-shadow: none;
  margin-top: 10px;margin-bottom: 10px;-webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;line-height: 1 !important;font-size: 1.25vw;
}
.contact-us button#submit {background:#ff8022;border-radius: 10px;
  color: #000;height: 50px;border: 1px solid #ff8022;
}
.wrap-select .dropdown-content{margin-right: 30%;
  width: 180px;
  text-align: right;
}
.wrap-select::after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left:20% !important;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.fixed-top{top: 120px;}
.scrolled{background: #cbcbcb !important}
.scrolled {margin-top: -120px;transition:all .2s ease-in-out;box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);}
/* .scrolled {width:60% !important;padding-top:1.1rem} */