    /*
    Flaticon icon font: Flaticon
    Creation date: 27/12/2018 21:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-restaurant:before { content: "\f100"; }
.flaticon-work:before { content: "\f101"; }
.flaticon-tent:before { content: "\f102"; }
.flaticon-jigsaw:before { content: "\f103"; }
.flaticon-apartment:before { content: "\f104"; }
.flaticon-heart:before { content: "\f105"; }
.flaticon-mortarboard:before { content: "\f106"; }
.flaticon-search:before { content: "\f107"; }
.flaticon-telegram:before { content: "\f108"; }
.flaticon-instagram:before { content: "\f109"; }
.flaticon-facebook:before { content: "\f10a"; }
.flaticon-twitter:before { content: "\f10b"; }
.flaticon-google-plus:before { content: "\f10c"; }
.flaticon-placeholder-filled-point:before { content: "\f10d"; }
.flaticon-call:before { content: "\f10e"; }
.flaticon-map-location:before { content: "\f10f"; }
.flaticon-content:before { content: "\f110"; }
.flaticon-avatar:before { content: "\f111"; }
.flaticon-robot:before { content: "\f112"; }
.flaticon-buy:before { content: "\f113"; }
.flaticon-list:before { content: "\f114"; }
    
    $font-Flaticon-restaurant: "\f100";
    $font-Flaticon-work: "\f101";
    $font-Flaticon-tent: "\f102";
    $font-Flaticon-jigsaw: "\f103";
    $font-Flaticon-apartment: "\f104";
    $font-Flaticon-heart: "\f105";
    $font-Flaticon-mortarboard: "\f106";
    $font-Flaticon-search: "\f107";
    $font-Flaticon-telegram: "\f108";
    $font-Flaticon-instagram: "\f109";
    $font-Flaticon-facebook: "\f10a";
    $font-Flaticon-twitter: "\f10b";
    $font-Flaticon-google-plus: "\f10c";
    $font-Flaticon-placeholder-filled-point: "\f10d";
    $font-Flaticon-call: "\f10e";
    $font-Flaticon-map-location: "\f10f";
    $font-Flaticon-content: "\f110";
    $font-Flaticon-avatar: "\f111";
    $font-Flaticon-robot: "\f112";
    $font-Flaticon-buy: "\f113";
    $font-Flaticon-list: "\f114";