	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/12/2018 08:33
  	*/

    @font-face {
      font-family: "Flaticon";
      src: url("./Flaticon.eot");
      src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
           url("./Flaticon.woff") format("woff"),
           url("./Flaticon.ttf") format("truetype"),
           url("./Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
      }
    }
    
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
      font-family: Flaticon;
      font-style: normal;
    }

.flaticon-restaurant:before { content: "\f100"; }
.flaticon-work:before { content: "\f101"; }
.flaticon-tent:before { content: "\f102"; }
.flaticon-jigsaw:before { content: "\f103"; }
.flaticon-apartment:before { content: "\f104"; }
.flaticon-heart:before { content: "\f105"; }
.flaticon-mortarboard:before { content: "\f106"; }
.flaticon-search:before { content: "\f107"; }
.flaticon-telegram:before { content: "\f108"; }
.flaticon-instagram:before { content: "\f109"; }
.flaticon-facebook:before { content: "\f10a"; }
.flaticon-twitter:before { content: "\f10b"; }
.flaticon-google-plus:before { content: "\f10c"; }
.flaticon-placeholder-filled-point:before { content: "\f10d"; }
.flaticon-call:before { content: "\f10e"; }
.flaticon-map-location:before { content: "\f10f"; }
.flaticon-content:before { content: "\f110"; }
.flaticon-avatar:before { content: "\f111"; }
.flaticon-robot:before { content: "\f112"; }
.flaticon-buy:before { content: "\f113"; }
.flaticon-list:before { content: "\f114"; }