	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/12/2018 08:33
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-supermarket:before { content: "\f100"; }
.flaticon-avatar:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-lamp:before { content: "\f103"; }
.flaticon-pen:before { content: "\f104"; }
.flaticon-books-stack-of-three:before { content: "\f105"; }
.flaticon-play:before { content: "\f106"; }
.flaticon-tv:before { content: "\f107"; }
.flaticon-radio:before { content: "\f108"; }
.flaticon-instagram-logo:before { content: "\f109"; }
.flaticon-telegram:before { content: "\f10a"; }
.flaticon-wifi-signal:before { content: "\f10b"; }
.flaticon-facebook-letter-logo:before { content: "\f10c"; }
.flaticon-linkedin-logo:before { content: "\f10d"; }
.flaticon-twitter-logo:before { content: "\f10e"; }
.flaticon-share:before { content: "\f10f"; }
.flaticon-like:before { content: "\f110"; }
.flaticon-call:before { content: "\f111"; }
.flaticon-close-envelope:before { content: "\f112"; }
.flaticon-placeholder:before { content: "\f113"; }